<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body style="font-family: monospace">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-xl">
          <a class="navbar-brand" href="/">RSAHDA</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample07XL">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="/projects">Projects</a>
              </li>
              {% if request.user.is_superuser %}
              <li class="nav-item active">
                <a class="nav-link" href="/admin/">Django Administrator</a>
              </li>
              {% endif %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown07XL" data-bs-toggle="dropdown" aria-expanded="false">Messages</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown07XL">
                  <li><a class="dropdown-item" href="/inbox"> Inbox </a></li>
                  <li><a class="dropdown-item" href="/inbox/create"> Compose </a></li>
                  <li><a class="dropdown-item" href="/inbox/trash"> Trash </a></li>
                  <li><a class="dropdown-item" href="/report" style="color: red"> Report </a></li>
                </ul>
              </li>
            </ul>
                <button type="submit" name="logout" class = "navbar-btn"><a href="/logout">Logout</a></button>
          </div>
        </div>
      </nav>
<center>
    <!-- MAKE THIS BETTER IF YOU CAN -->
    <h1> Announcements: </h1>
    {% for i in due_todos %}
    <div style="color: white; background-color: #eed202;">
        <h5> Todo "{{ i.todo_title }}" is due or reminded today! and {{ i.anouncement }}</h5>
    </div>
    {% empty %}
    <div style="color: white; background-color: #eed202;">
        {% for i in a%}
        {% if not i == "" %}
        <h5> {{ i.anouncement }} </h5>
        {% else %}
        <h5> Wahoo! No announcements! </h5>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}<br>
</center>
<div class="container">
    <h1>Welcome, {{ request.user.first_name }}</h1>
    <hr><br>
    <h5 style="font-family: Monospace">HTTPS clone link for your repository: https://github.com/RSAHDA/{{ user_details.repo }}.git</h5><br>

    <hr><br>

    <h2>Clients:</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Client Name</th>
          <th scope="col">Project</th>
          <th scope="col">Estimated Profit</th>
          <th scope="col">Needs</th>
        </tr>
      </thead>
      <tbody>
      {% for i in customers %}
        <tr>
          <th scope="row"></th>
          <td><a href="/admin/app/customer/{{ i.pk }}">{{ i.name }}</a></td>
          <td>{{ i.project }}</td>
          <td>{{ i.expected_profit_per_week }} per week</td>
          <td>{{ i.needs }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <hr><br>

    <h2>Actions:</h2>
    <div class="list-group">
      <a href="/admin/app/announcement/2" class="list-group-item list-group-item-action">Change Announcement</a>
      <a href="/admin/app/blocked_ip/add" class="list-group-item list-group-item-action">Block an IP</a>
      <a href="/admin/app/customer/add" class="list-group-item list-group-item-action">Add New Customer/Client</a>
      <a href="/admin/app/earning/add/" class="list-group-item list-group-item-action">Add Earning Data</a>
    </div>

    <hr><br>

    <h2>Profit Statistics:</h2>
    <div>
        <canvas id="graph"></canvas>
    </div>

    <hr><br>

    <h2>Your Todos:</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Due At</th>
        </tr>
      </thead>
      <tbody>
      {% for i in todo %}
        <tr>
          <th scope="row"></th>
          <td>{{ i.todo_title }} <a href="/delete_todo/{{ i.pk }}">DELETE</a></td>
          <td>{{ i.due_at }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <a href="/add_todo">Add Todo</a>

    <br><hr>

    <h2>Salary Percentage-wise:</h2>
    <div>
        <canvas id="graph2"></canvas>
    </div>

    {% if running %}
    <h2>Minner Status: Running, In Progress</h2>
    {% else %}
    <h2>Minner Status: Complete!</h2>
    {% endif %}

<br><br></div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
    const endpoint1 = "/api/profit_data/0";

    // graph for profit:
    $.ajax({
        method: "GET",
        url: endpoint1,
        success: (profitData) => {
            const ctx = document.getElementById('graph').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: Object.keys(profitData),
                    datasets: [{
                        label: 'Profit in $',
                        data: Object.values(profitData),
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        }
    })
</script>
<script>
    const endpoint2 = "/api/profit_data/1";

    // graph for salary:
    $.ajax({
        method: "GET",
        url: endpoint2,
        success: (salaryData) => {
            const ctx = document.getElementById("graph2").getContext("2d");
            const myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: Object.keys(salaryData),
                    datasets: [{
                        label: 'Salary for Each in % (100% = total_income)',
                        data: Object.values(salaryData),
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        }
    })
</script>
</body>
</html>